<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head(~{::title})}">
    <title th:text="#{title.admin.users}"></title>
</head>
<body>
    <nav th:replace="~{fragments/nav :: nav (#{title.admin.users})}"></nav>
    <main class="container mx-auto my-4">
        <div class="overflow-x-auto">
            <!-- 검색 필터 Form -->
            <div class="flex items-center">
                <form th:object="${searchUserForm}" th:action="@{/admin/users}" method="GET"
                      class="flex items-center space-x-4 mb-6">
                    <div class="flex flex-col w-1/3">
                        <label class="text-white font-semibold mb-2">유저네임</label>
                        <input type="text" placeholder="검색" class="p-2" th:field="*{username}">
                    </div>

                    <div class="flex flex-col w-1/4">
                        <label for="status" class="text-white font-semibold mb-2">상태</label>
                        <select name="status" id="status" th:field="*{status}"
                                class="p-2 border border-gray rounded-sm hover:bg-white hover:text-black">
                            <option value="" selected>상태 선택</option>
                            <option th:each="status : ${userStatus}"
                                    th:value="${status}"
                                    th:text="${status}">상태
                            </option>
                        </select>
                    </div>

                    <div class="flex flex-col w-1/4">
                        <label for="role" class="text-white font-semibold mb-2">등급</label>
                        <select name="role" id="role" th:field="*{role}"
                                class="p-2 border border-gray rounded-sm hover:bg-white hover:text-black">
                            <option value="" selected>등급 선택</option>
                            <option th:each="role : ${userRole}"
                                    th:value="${role}"
                                    th:text="${role}">역할
                            </option>
                        </select>
                    </div>

                    <div class="flex flex-col w-1/3">
                        <label for="size" class="text-white font-semibold mb-2">결과 수</label>
                        <select name="size" id="size" th:field="*{size}"
                                class="p-2 border border-gray rounded-sm hover:bg-white hover:text-black">
                            <option th:each="rows : ${rowsPerPage}"
                                    th:value="${rows}"
                                    th:text="${rows}"
                                    th:selected="${pageSize == rows}">결과 수
                            </option>
                        </select>
                    </div>

                    <div class="flex flex-col w-1/4 mt-auto">
                        <button type="submit"
                                class="p-2 border border-gray rounded-sm hover:bg-white hover:text-black">
                            검색
                        </button>
                    </div>
                </form>
            </div>

            <!-- 테이블 -->
            <table class="min-w-full border-collapse table-fixed border">
                <thead>
                <tr>
                    <th class="py-2 px-4 text-left font-bold text-gray-light border-b border-gray">#</th>
                    <th class="py-2 px-4 text-left font-bold text-gray-light border-b border-gray">유저네임</th>
                    <th class="py-2 px-4 text-left font-bold text-gray-light border-b border-gray">상태</th>
                    <th class="py-2 px-4 text-left font-bold text-gray-light border-b border-gray">역할</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" class="border-t border-gray hover:bg-gray">
                    <td th:text="${user.id}" class="py-2 px-4 hover:text-blue"></td>
                    <td th:text="${user.username}" class="py-2 px-4 hover:text-blue"></td>
                    <td class="py-2 px-4">
                        <select class="bg-transparent text-white">
                            <option th:each="status : ${userStatus}"
                                    th:value="${status}"
                                    th:text="${status}"
                                    th:selected="${status == user.status}">상태
                            </option>
                        </select>
                    </td>
                    <td class="py-2 px-4">
                        <select class="bg-transparent text-white">
                            <option th:each="role : ${userRole}"
                                    th:value="${role}"
                                    th:text="${role}"
                                    th:selected="${role == user.role}">역할
                            </option>
                        </select>
                    </td>
                    <td class="py-2 px-4 flex">
                        <button class="btn hover:text-blue">A</button>
                        <button class="btn hover:text-blue">B</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="flex justify-center mt-6">
                <div class="flex space-x-2" th:object="${searchUserForm}">
                    <a th:if="${startPage > 1}"
                       th:href="@{/admin/users(page=${startPage - 5}, size=${searchUserForm.size}, role=${searchUserForm.role}, status=${searchUserForm.status}, username=${searchUserForm.username})}"
                       class="p-2 border border-gray rounded-sm hover:bg-white hover:text-black">
                        이전
                    </a>

                    <a th:each="page : ${#numbers.sequence(startPage, endPage)}"
                       th:text="${page}"
                       th:href="@{/admin/users(page=${page}, size=${searchUserForm.size}, role=${searchUserForm.role}, status=${searchUserForm.status}, username=${searchUserForm.username})}"
                       th:class="${page == searchUserForm.page ? 'p-2 border border-gray rounded-sm hover:bg-white hover:text-black bg-blue' : 'p-2 border border-gray rounded-sm hover:bg-white hover:text-black'}">
                    </a>

                    <a th:if="${endPage < totalPages}"
                       th:href="@{/admin/users(page=${endPage + 1}, size=${searchUserForm.size}, role=${searchUserForm.role}, status=${searchUserForm.status}, username=${searchUserForm.username})}"
                       class="p-2 border border-gray rounded-sm hover:bg-white hover:text-black">
                        다음
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>