<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head(~{::title})}">
    <title th:text="#{title.login}"></title>
</head>
<body>
    <div class="flex items-center justify-center h-screen">
        <form class="flex gap-4 flex-col" th:action method="POST" th:object="${form}">
            <h1 class="highlight">Dev Logistics - Sign in</h1>
            <div th:if="${status}">
                <p class="text-blue" th:text="#{success.register}">회원가입 성공!</p>
            </div>
            <div class="flex flex-col gap-2">
                <label for="username" th:text="#{label.username}">Username</label>
                <input autofocus
                       type="text"
                       id="username"
                       th:errorclass="error-border"
                       th:field="*{username}">
                <p class="error" th:errors="*{username}">오류</p>
            </div>
            <div class="flex flex-col gap-2">
                <label for="password" th:text="#{label.password}">Password</label>
                <input
                        type="password"
                        id="password"
                        th:errorclass="error-border"
                        th:field="*{password}">
                <p class="error" th:errors="*{password}">오류</p>
            </div>
            <div class="flex gap-4">
                <a th:href="@{/register}" class="btn flex-grow" th:text="#{button.signup}">회원가입</a>
                <button type="submit"
                        class="btn flex-grow"
                        th:text="#{button.signin}">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</body>
</html>