<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head(~{::title})}">
    <title th:text="#{title.warehouse.create}"></title>
</head>
<body>
    <nav th:replace="~{fragments/nav :: nav (#{title.warehouse.create})}"></nav>
    <main class="container mx-auto my-4">
        <form th:method="POST" th:action="@{/warehouse/create}" th:object="${warehouse}" class="flex flex-col gap-8">
            <div class="flex gap-4">
                <div>
                    <div class="flex flex-col gap-2">
                        <label for="name" th:text="#{label.name}"></label>
                        <input type="text" id="name" th:field="*{name}">
                        <p class="error" th:errors="*{name}">오류</p>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col gap-2">
                        <label for="location" th:text="#{label.location}"></label>
                        <input type="text" id="location" th:field="*{location}">
                        <p class="error" th:errors="*{location}">오류</p>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn" th:text="#{button.create}">생성</button>
            </div>
        </form>
    </main>
</body>
</html>