<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head(~{::title})}">
    <title th:text="Error"></title>
</head>
<body>
    <main class="flex items-center justify-center text-center h-screen">
        <div class="max-w-xl w-full space-y-6">
            <h1 class="text-4xl font-bold mb-4">
                HTTP <span th:text="${status}" class="text-red">상태 코드</span>
            </h1>

            <p class="text-lg mb-4" th:text="${#dates.format(timestamp, 'yyyy-MM-dd HH:mm:ss')}">에러 시각</p>

                <th:block th:if="${errorMessage}">
                <p class="text-xl text-red-500 font-medium">
                    <span th="${message == null}" th:text="#{error.403}"></span>
                    <p th:text="${errorMessage}"></p>
                </th:block>
            </p>

            <p th:if="${status} == 404" class="text-xl text-red-500 font-medium">
                <span th:text="#{error.404}"></span>
            </p>

            <p th:if="${status} == 500" class="text-xl text-red-500 font-medium">
                <span th:text="#{error.500}"></span>
            </p>

            <th:block>
                <a href="/" class="btn" th:if="${logoutBtn != true}">
                    <span th:text="#{back.home}">홈으로 이동</span>
                </a>

                <form th:action="@{/logout}" method="POST" th:if="${logoutBtn == true}">
                    <button type="submit" th:text="#{button.logout}" class="btn w-full"></button>
                </form>
            </th:block>
        </div>
    </main>
</body>
</html>